body {
  font-family: sans-serif;
  font-size: 14px;

  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
}

.left_part
{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 73vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background
{
  width:auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

.background2  /* The background behind the background */
{

    height: 100%;
    width: 100%;
    
    position: fixed;
    left:0px;
    top:0px;
    z-index: -1;
}

.typing_gif
{
  margin:5px;
  margin-left: 20px;
  padding:3px;
  background-color: #dfe9ef;
  max-width: 50px;
  height: 20px;
  display:flex;
  border-radius:7px;
}

.button
{
  width: auto;  
  margin:5px;
  align-self: center;  
  background-color:#8b8b8b;
  text-align: center;
  color: #ffffff;
  margin:3px;
  border-radius:3px;
  padding: 7px;
  cursor: pointer;
}

.buttonList
{
  background-color:#ffffff;
  height: auto;
  width:25%;
  min-height: 0px;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-content: center;
}

form.new_message
{
  margin-bottom: 0px;
  margin-top: 0px;
}

.logo
{
  height: 100px;
  width: 100px;
  position: fixed;
  right:1.5%;
  bottom:2%;
  z-index: 998;
}

.bulle
{
  height: 16%;
  width: 7%;
  position: fixed;
  right:8%;
  bottom:16%;
  z-index: 999;
  color:#62a8ea; 
}

.user_message
{
text-align:left;
margin:5px;
padding:3px;
height: auto;
display: flex;
align-self: flex-end;
justify-content: flex-end;
}

.bot_message
{
text-align:left;
margin:5px;
padding:3px;
max-width: 100%;
height: auto;
display:flex;
border-radius:4px;
word-wrap: break-word;
}

.bot_text
{
  font-size: 15px;
  max-width: 70%;
  height: auto;
  background-color: #dfe9ef;
  padding:7px;
  border-radius:4px;
  margin: 0px;
}

.user_text
{ 
  font-size: 15px;
  max-width: 70%;
  background-color: #a6a6a6;
  color: #ffffff;
  padding:7px;
  border-radius: 4px;
  margin: 0px;
}

p
{
  word-wrap: break-word;
}


img.bot_message{
  height:40px;
  margin:0px;
  padding:0px;
}

.container{
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  height: 64%;
  width: 25%;
  padding-top:10px;
  font-family: arial,sans-serif;
  font-size: 14px;
  position: fixed;
  right:2%;
  bottom:29%;
  z-index: 998;
  border-radius: 10px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.conversation{
  height:auto;
  display:flex;
  border-radius: 10px;
}

.messages
{
  height: auto;
  width: 100%;
  overflow: auto;
}
 
.message_form
{
  width: 100%;
}

input
{
  width:100%;
}



footer { 
  background: #a6a6a6;
  border-radius: 0px 0px 10px 10px;

}
 

form {
  margin-top: 10px;
  margin-bottom: -10px;
  
  padding:10px;
}




/* -------------- All the CSS below is used for the animations --------------- */

.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}



.example2-enter {
  opacity: 0;
}

.example2-enter.example2-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

