/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

h3
{
  margin-bottom:0px;
}

form.new_message
{
  margin-bottom: 0px;
  margin-top: 0px;
}

div.bot_message{
text-align:left;
background-color: #d2edf4;
margin:5px;
padding:3px;
width:auto;
max-width: 100px;
height: auto;
display:flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
align-self: flex-end;;
}

.logo
{
  height: 100px;
  width: 100px;
  position: fixed;
  right:30px;
  bottom:30px;
  z-index: 998;
}
.bulle
{
  height: 100px;
  width: 100px;
  position: fixed;
  right:130px;
  bottom:130px;
  z-index: 997;
}

div.user_message{
text-align:right;
background-color: #a2edf4;
margin:5px;
padding:3px;
width:auto;
max-width: 100px;
height: auto;
display:flex;
justify-content: flex-start;
}

footer{
  background-color: #d2edf4;
}

.container{
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  height: auto;
  width: 200px;
  padding:0;
  font-family: arial,sans-serif;
  font-size: 14px;
  position: fixed;
  right:30px;
  bottom:200px;
  z-index: 998;
}

.conversation{
  height:200px;
  overflow: auto;
}
 

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

footer { 
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
  padding:10px;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}